{% extends 'layout.html' %} {% block title %} History {% endblock %} {% block content %}
<br />
<center>
    <h1>History Page</h1>
</center>
<br />

<body>
    <center>
        <p style="font-size: 20px;font-family:'Courier New'"><strong>URLs</strong></p>
        <table style="border-radius: 5px; border: none;">
            <tr>
                <th style="font-family:'Courier New'; border: solid; background-color: #49ade7; color:#000000;">
                    <center>URL ID</center>
                </th>
                <th style="font-family:'Courier New'; border: solid; background-color: #49ade7; color:#000000;">
                    <center>ORIGINAL URL</center>
                </th>
                <th style="font-family:'Courier New'; border: solid; background-color: #49ade7; color:#000000;">
                    <center>COMPRESSED URL</center>
                </th>
            </tr>
            {% for key in data %}
            <tr>
                <td style="font-family: Garamond, serif; background-color: #b5e7f0; color:#000000;">
                    <center><b>{{key[0]}}</b></td>
                <td style="font-family: Garamond, serif; background-color: #91ccee; color:#000000;"><b>{{key[1]}}</b></td>
                <td style="font-family: Garamond, serif; background-color: #c6b3f3; color:#000000;"><b>{{key[2]}}</b></td>
            </tr>
            {%endfor%}
        </table>
        </center>
</body>
{% for key in data %} {{data[key]}} ={{ key }} {% endfor %} {% endblock %}